@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #5a5a5a
;
}

body {
  background: #222222;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: #1a1a1a;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e17374));
  background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.features-section {
  display: inline-block;
}

.features-section img {
  display: none;
}

.features-section li {
  margin-left: -2.2em;
  list-style-type: none;
  font-size: 1.2em;
  margin-bottom: 1em;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#725ff3), to(#d53232));
  background: linear-gradient(to right, #725ff3 0%, #d53232 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-section li:before {
  content: "";
  left: -1.7em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/whiteline.svg");
  background-size: contain;
  margin-right: .5em;
  margin-top: 1em;
}

.features-section .container {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.features-section ul {
  padding-left: 5em;
}

.features-title {
  display: inline;
  font-size: 2.2em;
  font-weight: bold;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#d53232), to(#725ff3));
  background: linear-gradient(to right, #d53232 0%, #725ff3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #131313;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 4em;
}

nav ul.primary-nav li a {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e17374));
  background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav ul.primary-nav li a:hover {
  font-weight: bold;
}

nav ul.secondary-nav {
  margin-top: 0em;
}

nav ul.secondary-nav li a {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e17374));
  background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav ul.secondary-nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  margin-bottom: 1em;
  cursor: pointer;
}

@media only screen and (min-width: 984px) {
  .features-section .container img {
    padding-top: 2em;
    display: block;
    width: 80%;
  }
  .bot-logo {
    display: inline-block;
    width: 45%;
    height: 45%;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .navbar nav ul li a {
    background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#e17374));
    background: linear-gradient(to right, #ff8a00 0%, #e17374 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
    padding: .1em, 1em;
  }
  .navbar nav ul.primary-nav {
    padding-left: 1em;
  }
  .navbar nav ul.primary-nav li.current a {
    font-weight: bold;
  }
}
/*# sourceMappingURL=faq.css.map */